*{
    margin: 0;
    padding: 0;
    box-sizing: "border-box";
    font-family: sans-serif;
    background: black;
    overflow: hidden;
}
#png{

    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: 250px 0;
    width: 20%;
    visibility: hidden;
}
h1{
    color: white;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: 100px 0;
    width: 45%;
    text-align: center;
    background: transparent;
}
#bt{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0px 0;
    width: 10%;
    height: 3%;
    color: white;
    background: rgb(61, 61, 61);
    border: 3px solid white;
    z-index: 5;
    visibility: hidden;
}